<p> <%= link_to "Back to list of drawers", "/drawers" %>

<h3> <%= "Drawer #{@drawer.name}" %> </h3>

<h4> Records </h4>
<p> <%=link_to "Add new record", "/drawers/#{@drawer.name}/newrecord", method: :post %> </p>
<% @connections.each do |c| %>
	<p> 
		<%= "Record of boxes from #{c.user.name}" %>
		<% if session[:user] == c.user.id %>
			<%= link_to "Destroy record", "/connections/#{c.id}", method: :delete %>
		<% end %>
	</p>
	<% c.containers.each do |b| %>
		<div>
			<%= "Box #{b.box_num}, #{b.box_type}" %>
			<br/> <%= "Total Bugs: #{b.num_bugs}, unique: #{b.min_unique}:#{b.max_unique}, sizes: #{b.smallest_bug}:#{b.biggest_bug}" %>
			<br/> <%= "Handwritten: #{b.handwritten_labels}, typed: #{b.typed_labels}, obstructed: #{b.obstructed_labels}, damaged: #{b.damaged_labels}, unique labels: #{b.uniq_labels}. On box: #{b.on_box_label}, In box: #{b.in_box_label}, Next to box: #{b.near_box_label}" %>
		</div>
	<% end %>
<% end %>